# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static_root/
staticfiles/

# Environment
.env
venv/
ENV/
env/

# OS
.DS_Store

# Scripts
push_backend.sh
deploy.sh
